/*
Estilos del módulo de aprendizaje adaptativo
*/



			/*  CSS RESET  */
				  /**/
				  /**/
				  /**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration:none;
}

a:hover,
a:focus,
a:active, 
input:hover,
input:focus,
input:active{
	outline:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
	background-color: #333333;
	color: #FFF;
}

::-moz-selection {
	background-color: #333333;
	color: #FFF;
}


										/* Tipografía y textos */
html * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 120%;
}

h1 {
	font-size: 20px;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
}

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 10px; }

p {
	font-size: 12px;
	line-height: 20px;
}


										/* Generales */
body {
	/*padding: 30px;*/
}

form:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* html form             { zoom: 1; } /* IE6 */
*:first-child+html form { zoom: 1; } /* IE7 */

input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0;
	outline: none;
	border: none;
	border-bottom: 2px solid #333333;
}

textarea {
	height: 50px;
	border-right: 2px solid #333333;
	resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	width: auto;
	margin: 0 10px 0 0;
}

label {
	display: block;
	width: 100%;
	padding: 7px 0;
	cursor: pointer;
}

label:hover {
	background-color: #f2f2f2;
}

input[type="submit"],
form button {
	float: right;
	width: 60px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
form button:hover {
	background-color: #333333;
	color: #FFF;
}


										/* Ingreso */
.formulario-ingreso,
#ingresar-contrasena {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 300px;
	margin-left: -200px;
	margin-top: -150px;
	padding: 30px;
}

#ingresar-contrasena { z-index: 400; }

#ingresar-contrasena:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.9);
	z-index: -1;
}

.formulario-ingreso h1,
#ingresar-contrasena h2 {
	margin-bottom: 40px;
	padding-left: 50px;
	border-left: 2px solid #333333;
	margin-left: -50px;
}

.formulario-ingreso form,
.formulario-ingresar-contrasena {
	width: 60%;
}

.formulario-ingresar-contrasena button {
	width: 140px;
    padding: 7px;
}

.formulario-ingreso h4,
.formulario-ingresar-contrasena .error,
.paso-materia .error {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #800000;
	color: #FFF;
	font-size: 12px;
	padding: 0 2px;
	line-height: 13px;
}

.paso-materia .error {
	font-size: 16px;
	line-height: 30px;
	margin-top: 20px;
}


										/* Encabezado */
header h1,
.primario {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 15px 30px;
}

header h1 {
	background-color: #333333;
	color: #FFF;
}

.primario {
	padding-right: 70px;
	border-bottom: 2px solid #333333;
}

.primario a {
	position: absolute;
	top: 15px;
	right: 30px;
	background-color: #800000;
	color: #FFF;
	padding: 5px 10px;
	font-size: 12px;
}

.primario a:hover { background-color: #333333; }

										/* Principal */
.main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 15px 30px;
}

.contenedor-titulo-tipo {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.titulo-tipo-usuario {
	display: inline-block;
	position: relative;
	width: auto;
	clear: both;
	margin: 45px 0 25px;
	color: #800000;
	letter-spacing: 2px;
}

.titulo-tipo-usuario:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 115%;
	width: 10000px;
	height: 0;
	margin-top: -1px;
	border-bottom: 2px solid #800000;
}

.admin-editar {
	display: inline-block;
	background-color: #333333;
	color: #FFF;
	padding: 5px;
	margin: 10px 0;
}

.admin-editar:hover { background-color: #800000; }

.panel-admin form {
	position: relative;
	width: 55%;
	margin-bottom: 50px;
}

.panel-admin .formulario-agregar-usuario {
	width: 100%;
	text-align: justify;
}

.panel-admin .formulario-agregar-usuario:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.formulario-agregar-usuario .campos-formulario {
	display: inline-block;
	vertical-align: top;
	width: 55%;
}

.formulario-agregar-usuario .checkboxes {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 40%;
	padding-left: 20px;
	border-left: 2px solid #333333;
}

.formulario-agregar-usuario .checkboxes h4 {
	text-align: left;
	margin-bottom: 10px;
}

.formulario-agregar-usuario .departamento-usuario {
	margin-top: 30px;
}

.panel-admin form h6 {
	margin-top: -10px;
    margin-bottom: 10px;
    padding: 0 3px;
    line-height: 20px;
    background-color: #800000;
    color: #FFF;
}

										/* Lista grupos */
.grupos {
	padding: 30px 0;
}

.grupos li a {
	display: block;
	padding: 15px 3px;
	border-bottom: 2px solid #333333;
}

.grupos li h4 { font-weight: normal; }

.grupos li a:hover {
	background-color: #333333;
	border-color: #800000;
}

.grupos li a:hover * { color: #FFF; }

										/* Pasos materia */
.paso-materia { display: none; }

#paso-1 { display: block; }

.encabezado-materia {
	display: none;
}

										/* Colores y estructura */
.materia p {
	font-size: 14px;
	padding-bottom: 30px;
	border-bottom: 1px solid #404040;
	margin: 0 0 30px;
}

.materia iframe {
	position: relative;
	width: 100%;
	height: 500px;
	border: none;
	/*border: 1px solid #404040;*/
	outline: none;
	-webkit-box-shadow: 3px 3px 18px 0px rgba(26, 29, 31, 0.45);
	-moz-box-shadow:    3px 3px 18px 0px rgba(26, 29, 31, 0.45);
	box-shadow:         3px 3px 18px 0px rgba(26, 29, 31, 0.45);
}

#paletton-widget { position: fixed !important; }

#col-btn-less,
.siguiente-paso {
	display: block;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	background-color: #333333;
	border: none;
	outline: none;
	cursor: pointer;
}

.siguiente-paso {
	margin: 30px 0;
}

#col-btn-less:hover,
.siguiente-paso:hover { background-color: #800000; }

#col-btn-less:active {
	position: relative;
	top: 1px;
}

#mostrar-instrucciones {
	display: block;
	position: relative;
	width: 100%;
	margin: 20px auto 45px;
	color: #800000;
	text-decoration: underline;
	cursor: pointer;
}

#cerrar-instrucciones {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #AA0003;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
}

#mostrar-instrucciones:hover,
#mostrar-instrucciones:focus
#mostrar-instrucciones:active,
#cerrar-instrucciones:hover,
#cerrar-instrucciones:focus
#cerrar-instrucciones:active {
	color: #840002;
}

.ayuda-colores {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #E1E1E1;
	z-index: 100;
}

.ayuda-colores h3 {
	padding: 0 0 20px;
	border-bottom: 1px solid #404040;
	margin: 0 0 20px;
	
}

.ayuda-colores img {
	display: inline-block;
	vertical-align: top;
	width: 47%;
	max-width: 416px;
	height: auto;
}

.instrucciones {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 47%;
	max-width: 400px;
	padding-left: 50px;
}

.instrucciones h5 {
	margin: 0;
	font-size: 15px;
}

.instrucciones h6 {
	margin: 5px 0 25px;
	font-size: 15px;
	font-weight: normal;
}

#resultado-color { text-align: justify; }

#resultado-color:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 1px;
}

.muestra-color {
	display: inline-block;
	position: relative;
	width: 18%;
	height: 50px;
}

.estructura-seleccionada,
.estructura-seleccionada:hover { background-color: #333333; }

.estructura-seleccionada span { color: #FFF; }
