/*
CSS de Resultados
*/

.estudiante {
	padding: 35px 0;
	border-bottom: 3px solid #333;
}

.estudiante #resultado-color {
	display: inline-block;
	width: 180px;
	height: 350px;
	
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.estudiante #resultado-color .muestra-color {
	display: block;
	width: 100%;
	height: 70px;
}

.estudiante .estructura {
	display: inline-block;
	margin: 0 0 0 40px;
	vertical-align: top;
	
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.estudiante .titulo-tema {
	padding: 15px;
	text-align: center;
	background-color: #f2f2f2;
	color: #000;
	margin-bottom: 20px;
}

.estudiante h2 {
	padding-bottom: 30px;
}

.estudiante h2.nombre-estudiante { padding-bottom: 0; }