
@col-pri-0: '#000';
@col-pri-1: '#000';
@col-pri-2: '#000';
@col-pri-3: '#000';
@col-pri-4: '#000';

@col-compl-0: '#000';
@col-compl-1: '#000';
@col-compl-2: '#000';
@col-compl-3: '#000';
@col-compl-4: '#000';

@col-sec1-0: '#000';
@col-sec1-1: '#000';
@col-sec1-2: '#000';
@col-sec1-3: '#000';
@col-sec1-4: '#000';

@col-sec2-0: '#000';
@col-sec2-1: '#000';
@col-sec2-2: '#000';
@col-sec2-3: '#000';
@col-sec2-4: '#000';


body {
	background: #fff;
	color: rgba(255,255,255,0.5);
	}

#main {
	background: @col-pri-3;
	}


#header {
	background: @col-pri-1;
	h1 { color: @col-pri-4 }
	#hdr-box1 { background: @col-pri-4 }
	#hdr-box2 { background: @col-pri-3 }
	#hdr-box3 { background: @col-pri-2 }
	#hdr-box4 { background: @col-pri-0 }
	}


#menu {
	border-color: @col-pri-1;
	a {
		background: @col-sec1-4;
		color: @col-sec1-0;
		&:hover {
			background: @col-sec1-0;
			color: @col-sec1-4;
			}
		&.sel {
			background: @col-sec1-1;
			color: @col-sec1-4;
			}
		span {
			background: @col-sec1-2;
			}
		}
	}

#content {
	color: rgba(255,255,255,0.75);
	a {
		color: @col-pri-0;
		background: transparent;
		&:hover {
			color: @col-compl-3;
			background: @col-compl-0;
			}
		}
	.ttl {		
		color: @col-pri-0;
		}

	table {
		th {
			background: @col-sec2-4;
			color: @col-sec2-0;
			border-color: @col-sec2-3;
			}
		td {
			background: @col-sec2-0;
			color: @col-sec2-4;
			border-color: @col-sec2-3;
			}
		.even td {
			background: @col-sec2-1;
			color: @col-sec2-4;
			}
		}
	}

