/*
Estilos de estructuras de aprendizaje
*/


										/* Generales */
.estructura {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 500px;
	height: 350px;
	margin: 30px auto 50px;
	background-color: #FFF;
	-webkit-box-shadow: 2px 3px 12px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    2px 3px 12px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         2px 3px 12px 0px rgba(50, 50, 50, 0.65);
	overflow: hidden;
}

.estructura h2 { font-size: 14px; }


										/* Estructura 1 */
#estructura-1 nav {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 100%;
	padding: 15px;
	text-align: justify;
	font-size: 0;
	font-size: 12px\9;
}

#estructura-1 nav:after,
#estructura-1 .main-estructura:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	
	zoom: 1;
	*display: inline;
}

#estructura-1 nav ul {
	display: inline-block;
	position: relative;
	width: auto;
}

#estructura-1 nav h1,
#estructura-1 nav ul li {
	display: inline-block;
	position: relative;
	width: auto;
	font-size: 13px;
	
	zoom: 1;
	*display: inline;
}

#estructura-1 nav ul li { padding-left: 15px; }

#estructura-1 .main-estructura {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	text-align: justify;
	font-size: 0;
	font-size: 12px\9;
}

#estructura-1 .main-estructura section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 48%;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 13px;
	vertical-align: top;
}


										/* Estructura 2 */
#estructura-2 { padding-left: 120px; }

#estructura-2 nav {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 100%;
	padding: 20px;
	border-right-width: 3px;
	border-right-style: solid;
}

#estructura-2 nav h1 { margin-bottom: 40px; }

#estructura-2 nav ul li {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#estructura-2 nav ul li:after {
	content: '—';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 2px;
}

#estructura-2 .main-estructura {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 20px 40px; 
}


										/* Estructura 3 */
#estructura-3 { padding: 20px; }

#estructura-3 nav {
	position: relative;
	width: 100%;
	padding-bottom: 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-bottom: 20px;
}

#estructura-3 nav h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

#estructura-3 nav ul {
	width: 100%;
	text-align: center;
}

#estructura-3 nav ul li {
	display: inline-block;
	width: auto;
	padding: 0 10px;
}

										/* Estructura 4 */
#estructura-4 { padding: 20px 120px 20px 20px; }

#estructura-4 nav {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 100%;
	padding: 20px;
	text-align: right;
}

#estructura-4 nav h1 {
	padding-bottom: 7px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-bottom: 30px;
}

#estructura-4 nav ul li {
	position: relative;
	margin-bottom: 15px;
}

#estructura-4 .main-estructura {
	position: relative;
	width: 100%;
}

#estructura-4 section {
	text-align: center;
}




										/* Colores */
.fondo-principal 				{ background-color: #000; }
.fondo-complementario 			{ background-color: #FFF; }
.fondo-complementario-hover 	{ background-color: #f2f2f2; }
.fondo-medio 					{ background-color: #8c8c8c; }
.fondo-secundario 				{ background-color: #4d4d4d; }

.borde-principal 				{ border-color: #000; }
.borde-complementario 			{ border-color: #FFF; }
.borde-complementario-hover 	{ border-color: #f2f2f2; }
.borde-medio 					{ border-color: #8c8c8c; }
.borde-secundario 				{ border-color: #4d4d4d; }

.color-principal,
.color-principal *				{ color: #000; }
.color-complementario,
.color-complementario *			{ color: #FFF; }
.color-complementario-hover,
.color-complementario-hover *	{ color: #f2f2f2; }
.color-medio,
.color-medio *					{ color: #8c8c8c; }
.color-secundario,
.color-secundario *				{ color: #4d4d4d; }
